:80 {
	root * /srv/html-lore/public
	encode zstd gzip

	request_body {
		max_size 10MB
	}

	handle /api/* {
		reverse_proxy api:8787
	}

	handle {
		try_files {path} /index.html
		file_server
	}

	header {
		X-Content-Type-Options nosniff
		Referrer-Policy no-referrer-when-downgrade
	}
}
